.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}
