.login {
    .fix-card {
        padding: 10px;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    margin-top: 30px;
    margin-bottom: 30px;
}
.select2-container {
    z-index: 1111 !important;
}
.fix-select-full {
    .select2-container {
        width: 100% !important;
    }
}

.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000099;
    // Here is where the magic happens

    $offset: 187;
    $duration: 1.4s;

    .spinner {
        animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(270deg);
        }
    }

    .path {
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash $duration ease-in-out infinite,
            colors ($duration * 4) ease-in-out infinite;
    }

    @keyframes colors {
        0% {
            stroke: #4285f4;
        }

        25% {
            stroke: #de3e35;
        }

        50% {
            stroke: #f7c223;
        }

        75% {
            stroke: #1b9a59;
        }

        100% {
            stroke: #4285f4;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: $offset;
        }

        50% {
            stroke-dashoffset: $offset/4;
            transform: rotate(135deg);
        }

        100% {
            stroke-dashoffset: $offset;
            transform: rotate(450deg);
        }
    }
}
